body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
    text-align: center;
}

header {
    padding: 40px;
    background: #FFD700;
    color: #000;
    border-bottom: 4px solid #000;
}

h1 {
    margin: 0;
    font-size: 42px;
}

section {
    margin: 30px;
    padding: 20px;
    background: #222;
    border-radius: 12px;
}

a {
    color: #FFD700;
    font-weight: bold;
    text-decoration: none;
}

footer {
    margin-top: 30px;
    padding: 20px;
    background: #000;
}
